<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Selling Destinations</title>
    <link rel="stylesheet" href="../css/best-selling.css">
</head>
<body>
    <section class="best-selling">
        <h2>Best Selling Destinations</h2>
        <hr>
        <div class="best-selling-flex">
            <a href="#" class="best-selling-card best-selling-card1">
                <h2>Switzerland</h2>
            </a>
            <a href="#" class="best-selling-card best-selling-card2">
                <h2>Switzerland</h2>
            </a>
            <a href="#" class="best-selling-card best-selling-card3">
                <h2>Switzerland</h2>
            </a>
        </div>
    </section>
</body>
</html>