<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/1bc2765d38.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer class="footer">
        <div class="expert">
            <h2>Planning Your Next Trip?</h2>
            <p>Talk To Our Experts and Get Detailed Plan For Your Next Trip.</p>
            <button><a href="#">Talk To An Expert</a></button>
        </div>
        <div class="footer-row">
            <div class="about">
                <ul  class="about-list">
                <h3>About</h3>
                   <li><a href="#">Home</a></li>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Contact Us</a></li>
                   <li><a href="#">Gallery</a></li>
                   <li><a href="#">Packages</a></li>
               </ul>
            </div>
            <div class="packages">
                    <ul class="packages-list">
                    <h3>DOMESTIC PACKAGES</h3>
                     <li><a href="#">Laddakh</a></li>
                     <li><a href="#">Kashmir</a></li>
                     <li><a href="#">Pahalgam</a></li>
                     <li><a href="#">Gulmarg</a></li>
                 </ul>
            </div>
            <div class="assistance">
                  <ul class="assistance-list">
                    <h3>QUICK ASSISTANCE</h3>
                    <li>Umerabad HMT Srinagar Kashmir 190012</li>
                    <li>mirhashim2001@gmail.com</li>
                    <li>+91 7889466366</li>
                    <li>+91 7889466366</li>
                    <li>+91 7889466366</li>
                    <li>+91 7889466366</li>
                  </ul>
            </div>
        </div>
        <hr class="hr">
        <div class="footer-end">
            <small><strong>COPYRIGHT 2022 - MOHAMMAD HISHAM</strong></small>
            <div class="sm-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </footer>
</body>
</html>