<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holidays</title>
    <link rel="stylesheet" href="../css/holidays.css">
</head>
<body>
    <section class="holiday-container">
        <h2>Holiday For Every Mood</h2>
        <hr>
        <div class="holiday-row">
            <div class="holiday-row-item holiday-row-item-1">
                <h4>Mountaineering</h4>
            </div>
            <div class="holiday-row-item holiday-row-item-2">
                <h4>Hiking</h4>
            </div>
            <div class="holiday-row-item holiday-row-item-3">
                <h4>Religious</h4>
            </div>
            <div class="holiday-row-item holiday-row-item-4">
                <h4>Honeymoon</h4>
            </div>
            <div class="holiday-row-item holiday-row-item-5">
                <h4>Weekend Gateways</h4>
            </div>
            <div class="holiday-row-item holiday-row-item-6">
                <h4>Wildlife</h4>
            </div>
        </div>
    </section>
</body>
</html>