<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Overseas Holiday Packages</title>
    <link rel="stylesheet" href="../css/overseas-holidays.css">
</head>
<body>
    <section class="overseas-container">
        <h2>Best Selling Overseas Holidays Packages</h2>
        <hr>
        <div class="overseas-row">
            <div class="overseas-card overseas-card-1">
                <img class="overseas-img" src="./img/overseas-holidays/1.jpg" alt="Card Image 1">
                <h4>Beautiful Hawai | 8 nights 9 days</h4>
                <h6>MAN - MAN - Shortcut | Munnar 2 nights</h6>
                <div class="overseas-icons">
                  <div><i class="fa-solid fa-sun"></i>Highlights </div>
                  <div><i class="fa-solid fa-hotel"></i> Hotels</div>
                  <div><i class="fa-solid fa-camera"></i>Sightseeing</div>
                  <div><i class="fa-solid fa-car-side"></i> Travelling</div>
                  <div><i class="fa-solid fa-bowl-food"></i> Meals</div>
              </div>
                <div class="overseas-price">Starting $500 <sub>(Per Person On twin Sharing)</sub> </div>
                <a href="#"> <button class="overseas-button">View More Details</button> </a>
            </div>
            <div class="overseas-card overseas-card-2">
                <img class="overseas-img" src="./img/overseas-holidays/2.jpg" alt="Card Image 2">
                <h4>Peaceful Hawai | 8 nights 9 days</h4>
                <h6>MAN - MAN - Shortcut | Munnar 2 nights</h6>
                <div class="overseas-icons">
                  <div><i class="fa-solid fa-sun"></i>Highlights </div>
                  <div><i class="fa-solid fa-hotel"></i> Hotels</div>
                  <div><i class="fa-solid fa-camera"></i>Sightseeing</div>
                  <div><i class="fa-solid fa-car-side"></i> Travelling</div>
                  <div><i class="fa-solid fa-bowl-food"></i> Meals</div>
              </div>
                <div class="overseas-price">Starting $500 <sub>(Per Person On twin Sharing)</sub> </div>
                <a href="#"> <button class="overseas-button">View More Details</button> </a>
            </div>
            <div class="overseas-card overseas-card-3">
                <img class="overseas-img" src="./img/overseas-holidays/3.jpg" alt="Card Image 3">
                <h4>Heavenly Kashmir | 8 nights 9 days</h4>
                <h6>MAN - MAN - Shortcut | Munnar 2 nights</h6>
                <div class="overseas-icons">
                  <div><i class="fa-solid fa-sun"></i>Highlights </div>
                  <div><i class="fa-solid fa-hotel"></i> Hotels</div>
                  <div><i class="fa-solid fa-camera"></i>Sightseeing</div>
                  <div><i class="fa-solid fa-car-side"></i> Travelling</div>
                  <div><i class="fa-solid fa-bowl-food"></i> Meals</div>
              </div>
                <div class="overseas-price">Starting $500 <sub>(Per Person On twin Sharing)</sub> </div>
                <a href="#"> <button class="overseas-button">View More Details</button> </a>
            </div>
        </div>
      </section>
</body>
</html>