<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Blogs</title>
    <link rel="stylesheet" href="../css/travel-blog.css">
</head>
<body>
    <section class="travel-blog">
        <h2>Travel Blog</h2>
        <hr style="margin: 1em;" class="hr">
        <div class="blog-row">
            <a href="#" class="blog-card">
                <img class="blog-img" src="./img/bg.jpg" alt="Card Image Not Loaded">
                <h4>Title Of The BLog</h4>
            </a>
            <a href="#" class="blog-card">
                <img class="blog-img" src="./img/bg.jpg" alt="Card Image Not Loaded">
                <h4>Title Of The BLog</h4>
            </a>
            <a href="#" class="blog-card">
                <img class="blog-img" src="./img/bg.jpg" alt="Card Image Not Loaded">
                <h4>Title Of The BLog</h4>
            </a>
        </div>
    </section>
</body>
</html>